ul {
    list-style: none;
}
.logo {
    width: 36px;
    height: 36px;
    float: left;
    margin: 12px 10px 0;
}
.navbar-copyright {
    float: right;
}
.navbar-copyright > a {
    color: #fff;
}
.page {
    padding-top: 80px;
}
.comments-list {
    margin-top: 10px;
}
.comment-avatar {
    margin-right: 10px;
}